html, body, #root,  .App {
  height: 99%;
}

div {
  overflow-wrap: anywhere;
  box-sizing:border-box;
  white-space:pre-wrap;
}

span {
  overflow-wrap: anywhere;
  box-sizing:border-box;
  white-space:pre-wrap;
}

th {
  overflow-wrap: normal;
  word-break: normal;
}

table {
  table-layout: fixed;
}


.XXMuiTypography  {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform:'lowercase'
}